<!-- 订单面板 -->
<div>
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">
        <div ng-include="'../partials/sidebar.html?2'"></div>
    </div>
    <div class="main-panel">
        <div ng-include="'../partials/top-nav.html?1'"></div>
        <div class="content">
            <ul class="order-filters">
                <li><a href="javascript:;" class="filter-selected">所有</a></li>
                <li><a href="javascript:;">待付款</a></li>
                <li><a href="javascript:;">待发货</a></li>
                <li><a href="javascript:;">待收货</a></li>
                <li><a href="javascript:;">已完成</a></li>
            </ul>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td colspan="4">
                            <label>2017-10-21</label>
                            <span>订单号: 77990426435063667</span>
                            <span>采购商: 三明市建设委员会食堂</span>
                        </td>
                    </tr>
                    <tr>
                        <td>采购明细</td>
                        <td>合计</td>
                        <td>联系人</td>
                        <td>交易状态</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>上集 红茶 滇红茶云南古树红茶蜜芽袋装</td>
                                        <td>10/箱</td>
                                        <td>￥66.00</td>
                                    </tr>
                                    <tr>
                                        <td>下集 红茶 滇红茶云南古树红茶蜜芽袋装</td>
                                        <td>5/箱</td>
                                        <td>￥66.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>￥68.00</td>
                        <td>李先生</td>
                        <td>交易成功</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


